<!DOCTYPE html>
<head>
    <h1>Weather Check</h1>
</head>
<body>
    <form action="/weather" method="POST">
        <label>Enter city name</label>
        <input type="text" placeholder="city" name="city">
        <button type="submit">Check weather</button>
    </form>
</body>
</html>
